		<a name = "top"></a>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rknz81_navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.url }}">REDKNIGHTNZ81<span> // Bradley Campbell</span></a>
				</div>
				<div class="collapse navbar-collapse" id="rknz81_navbar">
					<ul class="nav navbar-nav">
{% for item in site.navigation %}
  {% assign class = 'menu-item-standard' %}
  {% if page.url contains item.url %}
    {% assign class = 'menu-item-current-page' %}
  {% elsif page.page_active == 'home' and item.url == 'http://www.redknightnz81.com/' %}
    {% assign class = 'menu-item-current-page' %}
  {% endif %}
						<li class="{{ class }}"><a href="{{ item.url }}" {% if item.new_window == true %} target = "_blank"{% endif %}>{{ item.title }}</a></li>
{% endfor %}						
					</ul>
				</div>
			</div>
		</nav>		