		<a name = "top"></a>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rknz81_navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.baseurl }}">REDKNIGHTNZ81<span> // Bradley Campbell</span></a>
				</div>
				<div class="collapse navbar-collapse" id="rknz81_navbar">
					<ul class="nav navbar-nav">
						<li class = "current-page">
							<a href="{{ site.baseurl }}">HOME</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}blog/">BLOG</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}designs/">DESIGNS</a>
						</li>
						<li>
							<a href="http://www.twitter.com/redknightnz81" target = "_blank">TWITTER</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>