---
layout: default
title: Bradley Campbell's Blog
---
<div class="row">
	<div class = "col-md-4">
		<h1>Blog.</h1>
		<div class = "blog-left-sidebar">
			<h2>Categories</h2>
			<div class = "hidden-xs hidden-sm">
				<p>
{% assign rawcats = "" %}
{% for post in site.posts %}
{% assign tcats = post.category | join:'|' | append:'|' %}
{% assign rawcats = rawcats | append:tcats %}
{% endfor %}

{% assign rawcats = rawcats | split:'|' | sort %}

{% assign cats = "" %}

{% for cat in rawcats %}
{% if cat != "" %}

{% if cats == "" %}
{% assign cats = cat | split:'|' %}
{% endif %}

{% unless cats contains cat %}
{% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}				
{% for ct in cats %}
					<a href="/blog/category/#{{ ct | slugify }}" class="codinfox-category-mark">{{ ct }}</a><br />
{% endfor %}				
				</p>
			</div>
			<div class = "hidden-lg hidden-md"><p><a href = "/blog/category/">View Categories</a></p></div>						
			<h2>Tags</h2>
			<div class = "hidden-xs hidden-sm">
{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}				
				<p>
{% for tag in tags %}
					<a href="/blog/tag/#{{ tag | slugify }}" class="codinfox-tag-mark">{{ tag }}</a><br />
{% endfor %}					
				</p>
			</div>
			
			<div class = "hidden-lg hidden-md"><p><a href = "/blog/tag/">View Tags</a></p></div>						
			<h2>Archive</h2>
			<div class = "hidden-xs hidden-sm">
				<p>
{% for post in site.posts %}
	{% assign thisyear = post.date | date: "%B %Y" %}
	{% assign prevyear = post.previous.date | date: "%B %Y" %}
	{% if thisyear != prevyear %}
					<a href = "/blog/archives/#{{ post.date | date:"%Y-%B" }}-ref">{{ thisyear }}</a><br />
	{% endif %}
{% endfor %}						
				</p>
			</div>
			<div class = "hidden-lg hidden-md"><p><a href = "/blog/archives/">View Archives</a></p></div>
		</div>		
	</div>
	<div class = "col-md-8">
		<p>Below are blog posts that relate to my gaming habits on both the Xbox and Steam platforms.</p>
		<p>I now play online only on Steam.</p>
		<p>For tracking of my Steam achievement stats, I use the website <a href = "http://www.truesteamachievements.com" target = "_blank">TrueSteamAchievements.com</a>.  You can view my profile on their website <a href = "https://truesteamachievements.com/gamer/redknightnz81" target = "_blank">here</a>.</p>
		<h2>Latest Posts</h2>
		<div class = "blog-most-recent-posts">
{% for post in site.posts limit:3%}
			<div class="col-xs-12 col-md-2">
				<h3>{{ post.date | date: "%a" }}<br class = "hidden-xs hidden-sm" /> {{ post.date | date: "%-d" }}<br  class = "hidden-xs hidden-sm" /> {{ post.date | date: "%b" }}<br class = "hidden-xs hidden-sm" /> {{ post.date | date: "%Y" }}</h3>
			</div>
			<div class="col-xs-12 col-md-10">
				<p class = "hidden-xs hidden-sm current-blog-post-categories">{% for category in post.category %}<a href="/blog/category/#{{ category | slugify }}">{{ category }}</a>&nbsp;{% endfor %}</p>
				<h3>{{ post.title }}</h3>
				<p>{{ post.content }}</p>
				<p class = "hidden-xs hidden-sm current-blog-post-tags">{% for tag in post.tags %}<a href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>&nbsp;{% endfor %}</p>
			</div>
			<p>&nbsp;</p>	
{% endfor %}
		</ul>
		<h2>Older Posts</h2>		
		<ul class="posts">
{% for post in site.posts offset:3 limit:15 %}	
			<li><a href="{{ post.url }}.html" title="{{ post.title }}">{{ post.title }}</a>. Posted on <span>{{ post.date | date: "%Y.%m.%d" }}</span></li>
{% endfor %}
		</ul>		
		
		<p><a href = "/blog/archives/">View All Posts</a></p>
		
	</div>
</div>