<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel='stylesheet' id='prana-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%7CBitter&#038;ver=4.5.3' type='text/css' media='all' />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="/blog/">blog</a></li>
	        		<li><a href="http://www.twitter.com/redknightnz81" target = "_blank">twitter</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="/blog/">blog</a></li>
	        		<li><a href="http://www.twitter.com/redknightnz81" target = "_blank">twitter</a></li>					
				</ul>
			</footer>
		</body>
	</html>
