---
layout: default
---
<div class="row">
	<div class = "col-md-4">
		<h1>Designs.</h1>
		<h2>{{ page.title }}</h2>
		<p><span>{{ page.date | date: '%B %d, %Y' }}</span></p>
	</div>
	<div class = "col-md-8">		
		{{ content }}
		<h2>Additional Images</h2>
		<div class = "row">		
{% assign end_column = false %}		
{% assign first_loop = true %}		
{% for ad_hash in page.additional_images %}
  {% for ad in ad_hash %}
    {% if end_column == true %}
		</div>
		<div class = "row">				
    {% endif %}  
			<div class="col-md-6">
				<div class="image-concept-container">
					<a href="{{ site.baseurl }}images/designs/full_size/{{ ad[1] }}" data-lity><img src="{{ site.baseurl }}images/designs/thumbnails/{{ dm.thumbmail_image }}" alt=""></a>
				</div>
			</div>
    {% if end_column == true %}			
      {% assign end_column = false %}
	{% elsif end_column == false and first_loop == true %}
	  {% assign first_loop = false %}
	  {% assign end_column = false %}	
	{% elsif end_column == false %}		
	  {% assign end_column = true %}
	{% endif %}
  {% endfor %}
{% endfor %}					
		</div>
		<div id="inline" style="background:#fff" class="lity-hide">Inline content</div>		

	</div>
</div>