---
layout: default
---
<div class="row">
	<div class = "col-md-4">
		<h1>Designs.</h1>
		<h2>{{ page.title }}</h2>
		<p><span>{{ page.date | date: '%B %d, %Y' }}</span></p>
	</div>
	<div class = "col-md-8">		
		{{ content }}
		<h2>Additional Images</h2>
		{% for ad_hash in page.additional_images %}
		  {% for ad in ad_hash %}
			<a href="{{ site.baseurl }}images/designs/thumbnails/{{ ad[1] }}"><img src = "{{ site.baseurl }}images/designs/thumbnails/{{ ad[1] }}" /></a>
		  {% endfor %}
		{% endfor %}		
	</div>
</div>
