---
layout: default
---
<div class="row">
	<div class = "col-md-4">
		<h1>Blog.</h1>
		<h2>{{ page.title }}</h2>
		<p><span>{{ page.date | date: '%B %d, %Y' }}</span></p>
	</div>
	<div class = "col-md-8">		
		{{ content }}
		<h3>Additional Information</h3>
		{% if page.associated_game %}		
		<p>Store page: <a href = "{{ page.associated_game }}" target = "_blank">here</a></p>		
		{% endif %}	
		<p>Category: {% for category in page.category %}<a class="codinfox-category-mark" href="/blog/category/#{{ category | slugify }}">{{ category }}</a>&nbsp;{% endfor %}</p>
		<p>Tags: {% for tag in page.tags %}<a class="codinfox-tag-mark" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>&nbsp;{% endfor %}</p>
		
		<hr />
		{% if page.comments %}
		{% include disqus.html %}
		{% endif %}
	</div>
</div>
