---
layout: default
title: Designs
---
<div class="row">
	<div class = "col-md-4">
		<h1>{{ page.title }}</h1>
	</div>
	<div class = "col-md-8">
		<p>Below are some website design concepts and mockups that I have created.</p>
		<p>Click any of the images below to be taken to a more detailed overview.</p>
		<div>
{% assign end_column = false %}		
{% assign first_loop = true %}		
{% for dm in site.designmockups %}	
  {% if end_column == true %}
			</div>
			<div class = "row">				
  {% endif %}  
			<div class = "col-md-6">
				<div class = "image-concept-container">
					<a href = "{{ dm.url }}.html"><img src = "{{ site.url }}/images/designs/thumbnails/{{ dm.thumbnail_image }}" alt = "" /></a>
					<p><a href = "{{ dm.url }}.html">{{ dm.title }}</a></p>
				</div>
			</div>  
  {% if end_column == true %}			
    {% assign end_column = false %}
  {% elsif end_column == false and first_loop == true %}
	{% assign first_loop = false %}
	{% assign end_column = false %}	
  {% elsif end_column == false %}		
	{% assign end_column = true %}
  {% endif %}
{% endfor %}		
		
		</div>					
	</div>
</div>
